node_modules
.DS_Store
dist
dist-ssr
*.local
.vscode
yarn-error.log
.env*
*.lock
/build/
.secret

#Hardhat files
cache
/src/constants/artifacts/@openzeppelin/
/src/constants/artifacts/build-info/
*.dbg.json
